.wrapper {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader{
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.loader svg path,
.loader svg rect{
  fill: #989494;
}
