.wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

.link {
  text-decoration: underline;
}

.link:hover {
  opacity: .6;
}
